* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
}

#main-page {
  margin: 8rem 0;
}

p {
  font-size: 2rem;
}

.heading {
  color: blue;
  margin: 0 0 4rem;
}

.input-selections {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 6rem;
}

.input-options {
  border: 1px solid black;
  border-radius: 4rem;
  cursor: pointer;
  font-size: 2.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
}

.players-container {
  display: flex;
  gap: 0 4rem;
  justify-content: space-evenly;
}

.player {
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 6rem;
}

.versus {
  font-size: 1.6rem;
}

.selection {
  border: 1px solid black;
  border-radius: 5rem;
  cursor: default;
  font-size: 3rem;
  min-height: 3.5rem;
  margin: 1.5rem 0 7rem;
  min-width: 3.5rem;
  padding: 2rem;
}

#result,
#new-game {
  display: none;
  padding: 1rem 2rem;
}

#result {
  background-color: lightgray;
  border-radius: 0.1rem;
  font-size: 2.5rem;
  margin: 0 auto 2.5rem;
  width: fit-content;
}

#new-game {
  background-color: blue;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  margin: 0 auto;
}

#result.show-results,
#new-game.show-results {
  display: block;
}

.footer {
  left: 0;
  right: 0;
  bottom: -30vh;
  position: absolute;
}

.footer p {
  font-size: 1.6rem;
  opacity: 0.5;
}

.logo {
  height: 3rem;
}

.copyright {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0 3rem;
}

/* NAVBAR */
details {
  margin: 2rem;
  position: relative;
}

details::after {
  background-image: url("images/full-logo.png");
  background-position: center;
  background-size: 15rem 5rem;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 5rem;
  position: absolute;
  right: 0;
  width: 15rem;
}

summary {
  background-color: #8c8c8c;
  border: 2px solid #484848;
  border-radius: 4px;
  color: #555555;
  cursor: pointer;
  height: 1.7rem;
  outline: none;
  padding: 1.2rem 1rem;
  position: relative;
  text-align: center;
  transition: transform 200ms ease-in-out 0s;
  user-select: none;
  width: 2.3rem;
  writing-mode: vertical-lr;
}

summary::before,
summary::after {
  left: 0;
  position: static;
  top: 0;
}

summary::before {
  content: "";
}

summary::after {
  bottom: 0;
  content: url("images/menu.svg");
  left: 20%;
  position: absolute;
}

summary:hover {
  transform: scale(1.1);
}

summary::marker {
  font-size: 0;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] .menu {
  animation-name: menuAnim;
  position: absolute;
  z-index: 9999;
}

details[open] summary {
  position: relative;
}

details[open] summary::before {
  bottom: 0;
  content: url("images/cancel.svg");
  left: 20%;
  position: absolute;
}

details[open] summary::after {
  content: "";
}

.menu {
  animation: closeMenu 300ms ease-in-out forwards;
  background-color: #000000;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem 0;
  overflow: hidden;
  width: fit-content;
}

.menu a {
  border-bottom: 2px solid #fff;
  color: #fff;
  margin: 0 1.6rem;
  padding: 1.2rem 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: filter 200ms linear 0s;
}

.menu a:nth-last-of-type(1) {
  border-bottom: none;
}

.menu a:hover {
  filter: brightness(200%);
}

details[open]::before {
  animation: fadeMe 300ms linear forwards;
}

.is-open {
  height: 95vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

@keyframes menuAnim {
  0% {
    height: 0;
  }

  100% {
    height: fit-content;
  }
}

@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

/* FORMS */
.form {
  background-color: #000000;
  border-radius: 20px;
  box-sizing: border-box;
  height: fit-content;
  margin: 0 auto 5rem;
  max-width: 300px;
  padding: 20px;
}

.title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: #151517;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #000000;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #8c8c8c;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #a70024;
}

.submit {
  background-color: red;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: rgb(185, 27, 27);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside a,
.back-button {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

aside a:hover,
aside a:focus,
aside a:active,
.back-button:hover,
.back-button:focus,
.back-button:active {
  color: #8c8c8c;
  text-decoration-color: #000000;
}

.deletion-question {
  font-weight: bolder;
  margin: 0 auto 2rem;
  max-width: 30rem;
}

.deletion-question:nth-of-type(1) {
  color: red;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

/* NOT FOUND  */
.not-found {
  background-color: rgb(185, 27, 27);
  color: white;
  font-size: 10rem;
  margin: 0 auto 3rem;
  padding: 0 4rem;
  width: fit-content;
}

.not-found-text {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 15rem;
}
