* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
}

p {
  font-size: 2rem;
}

.heading {
  color: blue;
  margin: 8rem 0 4rem;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 6rem;
}

.input-options {
  border: 1px solid black;
  border-radius: 4rem;
  font-size: 2.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
}

.players-container {
  display: flex;
  gap: 0 4rem;
  justify-content: space-evenly;
}

.player {
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 6rem;
}

.versus {
  font-size: 1.6rem;
}

.selection {
  border: 1px solid black;
  border-radius: 5rem;
  font-size: 3rem;
  min-height: 3.5rem;
  margin: 1.5rem 0 7rem;
  min-width: 3.5rem;
  padding: 2rem;
}

#result {
  background-color: lightgray;
  border-radius: 0.1rem;
  display: none;
  font-size: 2.5rem;
  margin: 0 auto 2.5rem;
  padding: 1rem 2rem;
  width: fit-content;
}

#new-game {
  background-color: blue;
  border: 0;
  border-radius: 0.5rem;
  color: white;
  display: none;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.footer {
  left: 0;
  right: 0;
  bottom: -30vh;
  position: absolute;
}

.footer p {
  font-size: 1.6rem;
  opacity: 0.5;
}

.logo {
  height: 3rem;
}

.copyright {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem 0 3rem;
}

/* NAVBAR */
details {
  margin: 2rem;
  position: relative;
}

details::after {
  background-image: url("images/gamefred-w-text.png");
  background-position: center;
  background-size: 15rem 5rem;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 5rem;
  position: absolute;
  right: 0;
  width: 15rem;
}

summary {
  background-color: #dcdcdc;
  border: 2px solid #555555;
  border-radius: 4px;
  color: #555555;
  cursor: pointer;
  height: 1.7rem;
  outline: none;
  padding: 1.2rem 1rem;
  position: relative;
  text-align: center;
  transition: transform 200ms ease-in-out 0s;
  user-select: none;
  width: 2.3rem;
  writing-mode: vertical-lr;
}

summary::before,
summary::after {
  left: 0;
  position: static;
  top: 0;
}

summary::before {
  content: "";
}

summary::after {
  bottom: 0;
  content: url("images/menu.svg");
  left: 20%;
  position: absolute;
}

summary:hover {
  transform: scale(1.1);
}

summary::marker {
  font-size: 0;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] .menu {
  animation-name: menuAnim;
  position: absolute;
  z-index: 9999;
}

details[open] summary {
  position: relative;
}

details[open] summary::before {
  bottom: 0;
  content: url("images/cancel.svg");
  left: 20%;
  position: absolute;
}

details[open] summary::after {
  content: "";
}

.menu {
  animation: closeMenu 300ms ease-in-out forwards;
  background-color: #000000;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 1rem;
  padding: 1rem 0;
  overflow: hidden;
  width: fit-content;
}

.menu a {
  border-bottom: 2px solid #fff;
  color: #fff;
  margin: 0 1.6rem;
  padding: 1.2rem 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: filter 200ms linear 0s;
}

.menu a:nth-last-of-type(1) {
  border-bottom: none;
}

.menu a:hover {
  filter: brightness(200%);
}

details[open]::before {
  animation: fadeMe 300ms linear forwards;
}

@keyframes menuAnim {
  0% {
    height: 0;
  }

  100% {
    height: fit-content;
  }
}

@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}
